name: "Lint Files"

on:
    workflow_call:

permissions:
    contents: read

jobs:
  lint-nix:
    name: Lint Nix Files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run nixfmt --check
        run: |
            echo "This repository is deprecated."
            echo "Workflows are now located at KestrelsDevelopment/Workflows"
            exit 1

  lint-bash:
    name: Lint-Bash
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install ShellCheck
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y shellcheck

      - name: Run ShellCheck
        run: |
            echo "This repository is deprecated."
            echo "Workflows are now located at KestrelsDevelopment/Workflows"
            exit 1

  lint-zsh:
    name: Lint-Zsh
    runs-on: ubuntu-latest
    needs: lint-bash
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Zsh
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y zsh

      - name: Syntax check files with Zsh
        run: |
            echo "This repository is deprecated."
            echo "Workflows are now located at KestrelsDevelopment/Workflows"
            exit 1